# @AUTHOR Jan Pavlíček (xpavli95@stud.fit.vutbr.cz)

[Unit]
Description=CAS deployer service

[Service]
User=root
ExecStart={{venv_path}/deployer_cas -c /etc/conf/deployer_cas.config
Restart=always
RestartSec=60s
Type=simple

[Install]
WantedBy=multi-user.target
